.horses-blog{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horses-blog .blogs{
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.horses-blog .blogs li{
    position: relative;
    width: 30vh;
    height: 30vh;
    list-style: none;

}

.pagination {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.pagination li{
    position:relative;
    border-radius: 12px;
    margin: auto;
    background-color: rgba(155, 155, 155, 0.7);
    transition: all 0.3s ease-out;
}

.pagination li a{
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li:hover{
    background-color: white;
    color:#5271BB;
}

.previousButton{
}
.nextButton{
}
.pagination .paginationDisable{
    color: gray;
}
.pagination .paginationActive{
    background-color: white;
    color: tomato;
}

