.horses-blog{
    position: relative;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horses-blog ul{
    position: relative;
    width: 100%;
    height: 100%;
}

.horses-blog ul li{
    position: relative;
    width: 30%;
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;

}

.pagination {
    background-color: black;

}

.paginationItem{
    background-color: white;
}

