.card {
    position: relative;
    border-radius: 12px;
    width: 70%;
    /* overflow: hidden; */
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
.content{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 30%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0) 100%);
    /* background: linear-gradient(135deg,  rgba(82,113,187,1) 0%,rgba(82,113,187,0.9) 30%,rgba(82,113,187,0.8) 50%,rgba(82,113,187,0.3) 75%,rgba(82,113,187,0) 100%); */
}
.card>p {
    position: absolute;
}

.service-card {
    position: relative;
    width: 50%;
    height: 100%;
    /* padding:0 10px; */
    color:#5271BB;
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.3s ease-out;
    border-radius: 6px;
}

.service-card h3{
    position: relative;
    display: inline-block;
    left: -20px;
    color: white;
    /* color:#5271BB; */
    border-radius: 6px 0 0 6px;
    padding: 15px 30px 15px 10px;
    background: linear-gradient(to right, rgba(82, 113, 187,1) 0%,rgba(82, 113, 187,0.8) 80%,rgba(82, 113, 187,0) 100%);
    /* background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 80%,rgba(255,255,255,0) 100%); */
}

.service-card p{
    padding: 0px 10px;
    font-weight: 600;
}

.service-card a{
    background-color:rgb(82, 113, 187);
    color: white;
    display: inline-block;
    width: auto;
    border-radius: 6px;
    padding: 1px 3px;
    text-decoration: none;
}
.signInForm-card {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 50px;
    border: 1px solid whitesmoke;
    border-radius: 12px;
}

@media ( max-width:1200px) {
    .service-card p {
        font-size: 1rem;
    }
}

@media (max-width:600px) {
    .service-card p{
        opacity: 1;
    }
    .content{
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0) 100%);
    }
    .service-card{
        width: 80%;
    }
}