.card{
    position: relative;
    border-radius: 12px;
    border:1px solid white;
    /* width: 100%;
    height: 100%; */
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-size:cover;
    /* background-repeat: no-repeat; */
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > p{
    position:absolute;
}

.horse-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    clip-path: inset(100% 0% 0% 0%);
    transition: all 0.5s ease-out;
}
.card:hover .horse-card{
    clip-path: inset(0% 0% 0% 0%);
}
.horse-card *{
    color:white;
}

.service-card{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    clip-path: circle(20% at top);
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-out;
}

.card:hover .service-card{
    clip-path: circle(70%);
}

.service-card h3{
    font-weight: 1000;
}

.service-card p{
    font-size: 1.2rem;
}

.signInForm-card{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 50px;
}
