.card{
    position: relative;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.horse-card{
    padding: 10px 15px;
}

.horse-card *{
    color:#5782BB;
}