.myModal{
    overflow: scroll;
}
.horse-detail-container{
    position: relative;
    top:10%;
    left:10%;
    width: 80vw;
    height: auto;
    border-radius: 6px;
    background-color: white;
    border-radius: 6px;
}