.subscription-form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

p{
    color:white;
    font-family: 'Poppins', sans-serif;
}
.logo{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    margin-bottom: 10px;
}

.KHR-logo{
    position: relative;
    width: 50%;
}

.ACNC-logo{
    position: relative;
    width: 20%;
}


