.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    padding: 30px 15%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    z-index: 100;
    transition: all 0.3s ease-out;

}
.header.hide{
    opacity: 0;
    top: -200px;
}
.logo{
    position: relative;
    top:0;
    max-width: 220px;
    max-height: 80px;
}

@media (max-width:1200px){
    .header{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%;
        /* background-color: rgba(0, 0, 0, 0.3); */
    }
    .logo{
        max-width: 30%;
        margin: auto;
    }
}