.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 15%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    z-index: 100;
}

.logo{
    position: relative;
    top:0;
    max-width: 220px;
    max-height: 80px;
}