/* .adoption h1,
.adoption h2{
    font-size: 5rem;
    font-weight: 100;
} */

/* .adoption h1{
    font-weight: bolder;
    margin: 0;
} */

.button-group{
    display: flex;
    justify-content: space-between;
}

@media (max-width:1200px) {
    .button-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}