
.service-wraper{
    position: relative;
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px; */
    display: flex;
    flex-wrap: wrap;
}

.service-wraper a{
    color:white;
}

.service-wraper a:hover{
    color:#FD6262;
}

@media (max-width:1200px){
    .service-wraper{
        display: flex;
        flex-wrap: wrap;
    }
}