.home h1,
.home h2{
    font-size: 3rem;
    font-weight: 100;
}

.home p{
    font-size: 1.5rem;
    text-align: center;
}


.service-wraper{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
}

.service-wraper a{
    color: white;
}

.service-wraper a:hover{
    color:#FD6262;
}