.signIn h2{
    font-size: 3rem;
    font-weight: 100;
}


.signIn span{
    color:#5271BB;
    text-decoration: underline;
    cursor: pointer;
}

.signIn span:hover{
    color:#FD6262;
}

@media (max-width:1200px){
    .signIn{
        margin-top: 100px;
    }
    .signIn h2{
        font-size: 1.5rem;
    }
}

@media (max-height:500px){
    .signIn{
        margin-top: 100px;
    }
}